.divWithImage {
    display: flex;
    align-items: center;
    margin-bottom: 50px; /* Добавьте отступ между изображениями */
}

/* Опциональные стили для изображений */
.divWithImage img {
    max-width: 100%; /* Сделать изображение адаптивным */
    height: auto;
}
